<section id="contactperson">
    <div class="container d-flex flex-column">
        <h2 class="align-items-center">
            CONTACT US
        </h2>
        <div class="row ">

            <div class="col-xs-12 col-md-6 align-items-center">
                <div class="header">
                        <h5>Corporate Office</h5>
                </div>
                <div class="desc">
                    BGEDS Pvt. Ltd., <br/>
                    D11, Bhatiya gardens <br/>
                    Manapakkam Main road, Manapakkam, Chennai <br/>
                    Chennai - 600125 <br/> 

                    Tel: 044-22521579 <br/>
                    Mobile: +91-99403 04413 <br/>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 align-items-center">
                <h5>Enquiry</h5>                
                <div class="desc">
                        For any enquiries, questions or updates, reach out to us <br />
                        Email - balageotech@gmail.com             
                </div>
            </div>

        </div>
    </div>
</section>