<section id="aboutus">
    <div class="container d-flex flex-column">
        <h2 class="align-items-center">
            ABOUT US
        </h2>
        <div id="desc">
            BGEDS is a reputed solar engineering consultancy operating in India, since 2010. The company formed with experts from renewable industries to provide Engineering services from site feasibility to construction engineering and from rooftop to large scale utility projects. BGEDS customizes the Design & Drawings for every project to meet the customer requirements. We deliver design and engineering for PV plants in Civil, Structural, Mechanical, Electrical and Infrastructure need from concept to commissioning. We also committed to supporting, kW capacity of Rooftop to MW capacity of ground-mount projects. Company Build with strong core values and cultures.
        </div>
    </div>
</section>
