<section id="pv-layout">
    <div class="sub-header">
        <div class="container d-flex flex-column">
            <div class="row">
                <div class="titleFont">
                    PV Layout
                </div>
            </div>
            <div class="row">
                <hr/>
            </div>
            <div class="row sub-text">
                Assisting through complete infrastructure planning and designing for project setup
            </div>
        </div>
    </div>
    <div class="grey-content">
        <div class="container d-flex flex-column">
            <div class="row service-header">
                BGEDS PV Layout Overview
            </div>
            <div class="row service-info">
                    BGEDS developed lots of PV Layout for solar power plant for the Tracker, Fixed and Rooftop. The configurations of 1P, 2P, 4P series structure are commonly developed with full table and partial table. In Tracker, various types of classification are available listed by the number of modules 2PX26, 2PX27, 2PX28, 2PX29, by category of Exterior &amp; Interior and by Post Spacing (Full table and Partial table).
            </div>
            <div class="card-deck services-cards">
                <div class="card " >
                    <div class="card-body pv-layout-card-1 card-util"></div>
                    <div class="card-footer bg-transparent text-center">Fixed Tilt PV Layout</div>
                </div>

                <div class="card  ">
                    <div class="card-body pv-layout-card-2 card-util"></div>
                    <div class="card-footer bg-transparent text-center">Tracker PV Layout</div>
                </div>
            </div>

            <div class="card-deck services-cards">
                <div class="card mb-4 ">
                    <div class="card-body pv-layout-card-3 card-util"></div>
                </div>

                <div class="card mb-4 ">
                    <div class="card-body pv-layout-card-4 card-util"></div>
                </div>
                <div class="card mb-4 ">
                        <div class="card-body pv-layout-card-5 card-util"></div>
                </div>
            </div>

        </div>
    </div>

</section>