.sub-header {
    background: rgb(79,121,9);
background: linear-gradient(90deg, rgba(79,121,9,1) 0%, rgba(242,148,6,1) 0%, rgba(255,0,211,0.7343312324929971) 100%);    
    height: 500px;
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    padding-top:75px;
}

.carousel-image {
    width: 100%;
    height: 500px;
    margin-top: 0px;
    padding-top: 0px;
    -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
  filter: blur(2px);
}

.titleFont {
    font-size: 72px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 20px;

}

hr {
    border: 1;
    clear:both;
    display:block;
    width: 80%;               
    background-color:rgb(12, 12, 0);
    height: 2px;
    margin-top:2px;
    margin-left: 0px;
  }

.sub-text {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  }

  section .section-title {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.services-overview {
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
    background: #efefef;
    margin-top: 80px;
}

.services-overview h2{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

.services-cards{
    margin-top: 30px;
}

.arch-card {
    background-image:
        linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), 
        url('../../../assets/services/infra/arch-civil/assessment/assessment-1.png');
    background-size: cover;
}

.mech-card {
    background-image:
        linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), 
        url('../../../assets/services/infra/mech-master/mech-master-3.png');
    background-size: cover;
}

.mep-card {
    background-image:
        linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), 
        url('../../../assets/services/infra/mep/mep-2.png');
    background-size: cover;
}

.d3-card {
    background-image:
        linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), 
        url('../../../assets/services/infra/d3-rendering/d3-rendering-1.png');
    background-size: cover;
}

.geotech-card {
    background-image:
        linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), 
        url('../../../assets/services/infra/geotech-foundation/geotech-foundation-1.png');
    background-size: cover;
}

.construction-card {
    background-image:
        linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), 
        url('../../../assets/services/infra/construction-management/construction-1.png');
    background-size: cover;
}

.card-service-util{
    height: 250px;
}

.card-service-util:hover{
    transform: scale(1.05);
}


.foundation-design-card {
    background-image:
        linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), 
        url('../../../assets/services/solar-engineering/foundation-design/foundation-design-2.jpg');
    background-size: cover;
}

.text-card{
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: antiquewhite;
    margin-top:110px;
}

@media (max-width:767px){
	#services-overview h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
    }

    .services-cards{
        margin-top: 15px;
    }
    .card-service-util{
        height: 200px;
    }

    .text-card{
        align-items: center;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 24px;
        color: antiquewhite;
        margin-top:70px;
    }

    .sub-header {
        background: rgb(79,121,9);
        background: linear-gradient(90deg, rgba(79,121,9,1) 0%, rgba(237,242,6,1) 0%, rgba(0,255,205,1) 100%);    
        height: 400px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        padding-top:60px;
    }

    .carousel-image {
        width: 100%;
        height: 400px;
        margin-left: 0px;
        margin-right: 0px;
    }
    
    .titleFont {
        font-size: 36px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .sub-text {
        font-size: 20px;
        padding-left:10px;
    
    }
}

