<section id="solar-engineering">
    <div class="sub-header">

        <ngb-carousel #carousel interval="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <div class="carousel-caption" >
                    <div class="container d-flex flex-column">
                        <div class="row">
                            <div class="titleFont">
                                Industrial Engineering
                            </div>
                            <hr/>
                        </div>
                        <div class="row sub-text">
                            Assisting through complete infrastructure planning and designing for project setup
                        </div>
                    </div>
                </div>

                <div class="picsum-img-wrapper overlay">
                    <img [src]="img" class="carousel-image d-block" alt="Solar image {{i + 1}} description">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>



    <div class="services-overview">

        <div class="container d-flex flex-column ">
            <h2 class="align-items-center">
                OUR SERVICES
            </h2>
            <div class="container ">
                <div class="card-deck services-cards">
                    <div class="card mb-4 arch-card card-service-util">
                        <a routerLink="arch-civil-struct-services">

                            <div class="text-card">
                                Architectural, Civil &amp; Structural
                            </div>
                        </a>
                    </div>

                    <div class="card mb-4 mech-card card-service-util">
                        <a routerLink="mech-process-engineering">
                            <div class="text-card">
                                Mechanical/Process Engineering
                            </div>
                        </a>
                    </div>

                    <div class="card mb-4 mep-card card-service-util">
                        <a routerLink="mep-building">
                            <div class="text-card">
                                MEP/Building Services

                            </div>
                        </a>
                    </div>

                </div>
                <div class="card-deck services-cards">
                    <div class="card mb-4 d3-card card-service-util">
                        <a routerLink="d3-rendering-civil-mech">

                            <div class="text-card">
                                3D Rendering -
                                <br/>Civil &amp; Mechanical
                            </div>
                        </a>
                    </div>

                    <div class="card mb-4 geotech-card card-service-util">
                        <a routerLink="geotech-foundation">
                            <div class="text-card">
                                Geotechincal &amp; Foundation Engineering
                            </div>
                        </a>
                    </div>

                    <div class="card mb-4 construction-card card-service-util">
                        <a routerLink="construction-management">
                            <div class="text-card">
                                Construction Management
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>


    </div>
</section>