<section id="address">
    <div class="address">
        <div class="container address-space">
            <div class="row row-30">
                <div class="col-md-4 col-xl-5">
                    <h4 class="expertise">Our Expertise</h4>
                    <div class="pr-xl-4 expertise">

                        <p>
                                We have highly skilled and dedicated professionals practicing in the fields of Solar engineering, Industrial engineering and appropriate expertise for all the stages of the project, right from feasibility studies, site investigation and field characterization, supervision, design and foundation recommendation.
                        </p>
                        <!-- Rights-->

                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="expertise">Contacts</h4>
                    <dl class="contact-list expertise">
                        <dt>Address:</dt>
                        <dd>#12-B, Sakthi sree Illam, </dd>
                        <dd>Arunachalam main road,</dd>
                        <dd>Ambal nagar, Porur, </dd>
                        <dd>Chennai- 600116</dd>
                    </dl>
                    <dl class="contact-list expertise">
                        <dt>Email:</dt>
                        <dd>
                            sales@bgedsconsultant.com
                        </dd>
                    </dl>

                </div>
                <div class="col-md-4 col-xl-3">
                    <h4>Quick Links</h4>
                    <ul class="nav-list">
                        <li>
                            <a href="/home">Home</a>
                        </li>
                        <li>
                            <a href="/solar-engineering">Solar Engineering</a>
                        </li>
                        <li>
                            <a href="/industrial-engineering">Industrial Engineering</a>
                        </li>
                        <li>
                            <a href="#">Enquiry</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>