
<section id="infrastructure-development">
        <div class="sub-header">
            <div class="container d-flex flex-column">
                <div class="row">
                    <div class="titleFont">
                        Infrastructure Development
                    </div>
                </div>
                <div class="row">
                    <hr/>
                </div>
                <div class="row sub-text">
                    Assisting through complete infrastructure planning and designing for project setup
                </div>
            </div>
        </div>
        <div class="grey-content">
            <div class="container d-flex flex-column">
                <div class="row service-header">
                   BGEDS Infrastructure Development Overview
                </div>
                <div class="row service-info">
                        BGEDS has a dedicated team to develop detailed engineering design and drawings for Plant Infrastructures. The team of experts from different disciplines commits to deliver the best designs for the following:
                        <ul>
                            <li>Main Control room (Architectural plan &amp; Elevation, Civil &amp; Structural drawings, Structural design)</li>
                            <li>Inverter Room (Civil &amp; Structural drawings, Structural design)</li>
                            <li>Internal Roads (Undulation study, Link road feasibility study, Internal Road Plan drawings and Specification Report)</li>
                            <li>Boundary &amp; Fencing (Topographical &amp; Contour study, Wind speed analysis, Plan and Elevation drawings)</li>
                            <li>Flood and Drainage study (Slope Map analysis, Ground Water study)</li>
                        </ul>
                </div>
                <div class="card-deck services-cards">
                        <div class="card mb-4 ">
                            <div class="card-body infrastructure-development-card-1 card-util"></div>
                            <div class="card-footer bg-transparent text-center">Slope Map Analysis</div>
                        </div>
                        
                        <div class="card mb-4 ">
                                <div class="card-body infrastructure-development-card-2 card-util"></div>
                                <div class="card-footer bg-transparent text-center">Main Control Room</div>
                        </div>        
                </div>

                <div class="card-deck services-cards">
                        <div class="card mb-4 ">
                                <div class="card-body infrastructure-development-card-3 card-util"></div>
                                <div class="card-footer bg-transparent text-center">Inverter Room</div>
                        </div>
        
                        <div class="card mb-4 ">
                                <div class="card-body infrastructure-development-card-4 card-util"></div>
                                <div class="card-footer bg-transparent text-center">Internal Roads</div>
                        </div>        
                </div>
                <div class="card-deck services-cards">
                        <div class="card mb-4 ">
                                <div class="card-body infrastructure-development-card-5 card-util"></div>
                                <div class="card-footer bg-transparent text-center">Flood &amp; Drainage Study</div>
                        </div>
        
                        <div class="card mb-4 ">
                                <div class="card-body infrastructure-development-card-6 card-util"></div>
                                <div class="card-footer bg-transparent text-center">Boundary &amp; Fencing</div>
                        </div>        
                </div>
            </div>
        </div>

    </section>