<section id="solar-engineering">
    <div class="sub-header">
        <ngb-carousel #carousel interval="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <div class="carousel-caption" *ngIf="i==0">
                    <div class="container d-flex flex-column">
                        <div class="row">
                            <div class="titleFont">
                                Solar Engineering
                            </div>
                        </div>
                        <div class="row">
                            <hr/>
                        </div>
                        <div class="row sub-text">
                            Assisting through complete infrastructure planning and designing for project setup
                        </div>
                    </div>
                </div>
                <div class="picsum-img-wrapper overlay">
                    <img [src]="img" class="carousel-image d-block" alt="Solar image {{i + 1}} description">
                </div>
            </ng-template>
        </ngb-carousel>

    </div>
    <div class="services-overview">

        <div class="container d-flex flex-column ">
            <h2 class="align-items-center">
                OUR SERVICES
            </h2>
            <div class="container ">
                <div class="card-deck services-cards">
                    <div class="card mb-4 grading-analysis-card card-service-util">
                        <a routerLink="grading-analysis">

                            <div class="text-card">
                                Grading Analysis
                            </div>
                        </a>
                    </div>

                    <div class="card mb-4 foundation-design-card card-service-util">
                        <a routerLink="foundation-design">
                            <div class="text-card">
                                Foundation Design
                            </div>
                        </a>
                    </div>

                    <div class="card mb-4 racking-structure-design-card card-service-util">
                        <a routerLink="racking-structure-design">
                            <div class="text-card">
                                Racking
                                <br/> Structure Design
                            </div>
                        </a>
                    </div>

                </div>
                <div class="card-deck services-cards">
                    <div class="card mb-4 infrastructure-development-card card-service-util">
                        <a routerLink="infrastructure-development">

                            <div class="text-card">
                                Infrastructure
                                <br/>Development
                            </div>
                        </a>
                    </div>

                    <div class="card mb-4 pv-layout-card card-service-util">
                        <a routerLink="pv-layout">
                            <div class="text-card">
                                PV Layout
                            </div>
                        </a>
                    </div>

                    <div class="card mb-4 corrosion-study-card card-service-util">
                        <a routerLink="corrosion-study">
                            <div class="text-card">
                                Corrosion Study
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>


    </div>
</section>