<div class="card bg-dark text-white text-center border-dark  img-fluid">
    <img src="assets/background/road-to-forest.jpg" class="card-img " viewBox="0 0 512 512" alt="..." height="550" style="opacity: .70;">
    <div class="card-img-overlay  align-items-center justify-content-md-center d-flex flex-column ">
      <div class="card-title " >
            <img src="assets/logo/bootstrap-logo.png" class="align-middle logo"  />
      </div>
      <div class="card-title" id="demoFont">
          BGEDS - Design &amp; Engineering Services
      </div>  
      <div class="card-text p-4" id="demoFont2">BGEDS is a Design and Engineering consultancy derived from the expertise of World solar knowledge to deliver the most efficient plant design to developer and EPC’s. </div>
    </div>
</div>

    