<section id="mech-process-engineering">
    <!--
    <div class="sub-header">
        
        <ngb-carousel #carousel interval="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <div class="carousel-caption" *ngIf="i==0">
                    <div class="container d-flex flex-column">
                        <div class="row">
                            <div class="titleFont">
                                Mechanical/Process Engineering Services
                            </div>
                        </div>
                        <div class="row">
                            <hr/>
                        </div>
                        <div class="row sub-text">
                            To be included : sub text
                        </div>
                    </div>
                </div>
                <div class="picsum-img-wrapper overlay">
                    <img [src]="img" class="carousel-image d-block" alt="Solar image {{i + 1}} description">
                </div>
            </ng-template>
        </ngb-carousel>
        
    </div>
    -->
    <div class="grey-content-1">
        <div class="container d-flex flex-column">
            <div class="row service-header">
                Mechanical/Process Engineering Services
            </div>
            <div class="row service-info">
                BGEDS provides sequential placement of mechanical equipment layout and general arrangement through plan, section, elevation
                and 3D rendering view. BGEDS analysis the mechanical flow process of the plant, to be manufactured product
                with the collected inputs and outputs given by the client industry. Developed flow chart and block diagrams
                are optimized for the safe and friendly operational environment by conducting meetings
            </div>
            <div class="card-deck services-cards">
                <div class="card mb-4 ">
                    <div class="card  ">
                        <div class="card-body mech-study-card-1 card-util"></div>
                        <div class="card-footer bg-success text-white text-center">Master Layout - Hosur</div>
                    </div>
                </div>

                <div class="card mb-4 ">
                    <div class="card  ">
                        <div class="card-body mech-study-card-2 card-util"></div>
                        <div class="card-footer bg-success text-white text-center">Master Layout - Silvasa
                        </div>
                    </div>
                </div>

                <div class="card mb-4 ">
                    <div class="card ">
                        <div class="card-body mech-study-card-3 card-util"></div>
                        <div class="card-footer bg-success text-white text-center">Master Plan Kerala </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>