<section id="arch-civil-struct-services">
    <div class="sub-header">

        <ngb-carousel #carousel interval="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let img of images; index as i">
                <div class="carousel-caption" *ngIf="i==0">
                    <div class="container d-flex flex-column">
                        <div class="row">
                            <div class="titleFont">
                                Architectural, Civil &amp; Structural Engineering Services
                            </div>
                        </div>
                        <div class="row">
                            <hr/>
                        </div>
                        <div class="row sub-text">
                            To be included : sub text
                        </div>
                    </div>
                </div>
                <div class="picsum-img-wrapper overlay">
                    <img [src]="img" class="carousel-image d-block" alt="Solar image {{i + 1}} description">
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
    <div class="grey-content-1">
        <div class="container d-flex flex-column">
            <div class="row service-header">
                    Architectural, Civil &amp; Structural Engineering Services
            </div>
            <div class="row service-info">
                BGEDS provides professional planning, design, construction management, and budgeting services for capital construction projects
                including new structures, additions, alterations, and repair of industrial structures. We lends holistic
                and fully integrated industrial design services in green field and brown field projects. We turn in to support
                our customers in planning, designing via STAAD &amp; ETABS and execution management (on site evaluation by
                our team). We provide optimized sectional members through repeated iterations run and analyzed for lateral
                sway &amp; seismic by our expert team. Which in term would reduce the quantity of steel required proving
                to be economical.
            </div>
            <div class="card-deck services-cards">
                <div class="card ">
                    <div class="card-body corrosion-study-card-1 card-util"></div>
                </div>

                <div class="card  ">
                    <div class="card-body corrosion-study-card-2 card-util"></div>
                </div>
            </div>
        </div>
    </div>

</section>