<section id="arch-civil-struct-services">

    <div class="grey-content-1">
        <div class="container d-flex flex-column">
            <div class="row service-header">
                Architectural Services
            </div>
            <div class="row service-info">
                Functional and space requirements are captured in the Architectural design. BGEDS develops architectural concept specific the projects requirements inline with customer expectations. The services cover:
                <ol>
                    <li>Master Plan</li>
                    <li>Floor Plans </li>
                    <li>Cross sections, details</li>
                    <li>Elevations and 3D rendering</li>
                    <li>Specifications for Flooring, Walls, Ceilings</li>
                    <li>Details of Stairs and openings</li>
                    <li>Specification of Windows and doors</li>
                </ol>

            </div>
            <div class="card-deck services-cards">
                    <div class="card mb-4 ">
                        <div class="card ">
                            <div class="card-body arch-card-1 card-util"></div>
                            <div class="card-footer bg-success text-white text-center">TEA PLANT ELEVATION VIEW</div>
                        </div>
                    </div>
                    <div class="card mb-4 ">
                        <div class="card  ">
                            <div class="card-body arch-card-2 card-util"></div>
                            <div class="card-footer bg-success text-white text-center">NABL LAB BUILDING ELEVATION VIEW</div>
                        </div>
                    </div>
                    <div class="card mb-4 ">
                            <div class="card  ">
                                <div class="card-body arch-card-3 card-util"></div>
                                <div class="card-footer bg-success text-white text-center">FARMHOUSE PLAN VIEW</div>
                            </div>
                        </div>
                </div>

        </div>
    </div>



</section>