<div style="background-color: #f3e6e8;
background-image: linear-gradient(315deg, #f3e6e8 0%, #d5d0e5 74%);">
    
    <div class="d-flex align-items-center justify-content-center " id="demoFont">
        BGEDS Platform Services
    </div>

    <ng-template #modalContent let-modal>
        <div class="modal-header">
          <h4 class="modal-title">Modal title</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Modal text</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
        </div>
    </ng-template>  

    <div class="container ">
        <div class="card-deck">
            <div class="card mb-4" id="engineering-feasibility-study">
                <img class="card-img-top img-fluid" src="assets/card/1-engineering-feasibility.jpg" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Engineering Feasibility study</h4>
                    <div class="card-text ">
                        <ul class="list-display list-checkmarks">
                                <li>Site visit and overview</li>
                                <li>Boundary Layout (KMZ) </li>
                                <li>Preliminary Plant layout</li>
                                <li>Preliminary generation report </li>
                                <li>Preliminary Design package</li>
                        </ul>

                    </div>                
                </div>
                <div class="card-footer text-center" >
                        <a href="mailto:sales@bgedsconsultant.com?Subject=Engineering Feasibility Study" target="_blank" class="btn btn-primary" >Enquire</a>        
                </div>
            </div>
            <div class="card mb-4" id="preliminary-design-package">
                <img class="card-img-top img-fluid" src="assets/card/2-road-design.jpg" alt="Card image cap">
                <div class="card-body">
                        <h4 class="card-title ">Preliminary Design Package</h4>
                        <div class="card-text">
                                <ul class="list-display list-checkmarks" >
                                        <li>Plant layout for design capacity</li>
                                        <li >Preliminary design proposal for Modules, cables, CB, Inverter and Monitoring system</li>
                                        <li >Preliminary foundation &amp; Structural design/drawings &amp; BOQ</li>
                                        <li>Preliminary Road, Drainage design &amp; BOQ</li>
                                </ul>
                        </div>
                </div>
                <div class="card-footer text-center">
                        <a href="mailto:sales@bgedsconsultant.com?Subject=Preliminary Design Package" target="_blank" class="btn btn-primary">Enquire</a>
                </div>

            </div>
            <div class="card mb-4" id="engineering-design-package">
                <img class="card-img-top img-fluid" src="assets/card/4-engineering-design.jpeg" alt="Card image cap">
                <div class="card-body">
                                <h4 class="card-title">Engineering Design Package</h4>
                        <ul class="list-display list-checkmarks">
                                <li>Structural Design calculation Package (Tracker/Fixed)</li>
                                <li>Foundation Analysis &amp; Design (Lpile/Allpile)</li>
                                <li>Soil corrosion analysis</li>
                                <li>Post height optimization</li>
                                <li>Pile coordinate</li>
                                <li>Site grading drawings</li>
                                <li>Civil &amp; Structural Design (MCR/Inverter)</li>
                                <li>Plant Infrastructure Design package</li> 
                        </ul>
                </div>
                <div class="card-footer text-center">
                        <a href="mailto:sales@bgedsconsultant.com?Subject=Engineering Design Package" target="_blank" class="btn btn-primary">Enquire</a>
                </div>

            </div>
        </div>
        <div class="card-deck">
                <div class="card mb-4" id="geotechnical-investigation">
                        <img class="card-img-top img-fluid" src="assets/card/7-corrosion-assessment.png" alt="Card image cap">
                        <div class="card-body">
                                <h4 class="card-title">GeoTechnical / Soil Investigation</h4>
                                <div class="card-text">
                                        <ul class="list-display list-checkmarks">
                                                <li>Preliminary Geotechnical investigation (Trail pits and ERT)</li>
                                                <li>Geotechnical investigation detailed (Borings, ERT, TRT)</li>
                                        </ul>
                                </div>                
                        </div>
                        <div class="card-footer text-center">
                                <a href="mailto:sales@bgedsconsultant.com?Subject=GeoTechnical / Soil Investigation" target="_blank" class="btn btn-primary">Enquire</a>
                        </div>

                </div>
                <div class="card mb-4" id="design-review-package">
                        <img class="card-img-top img-fluid" src="assets/card/5-electrical-design.jpg" alt="Card image cap">    
                        <div class="card-body">
                                <h4 class="card-title">Design Review Package</h4>
                                <div class="card-text">
                                        <ul class="list-display list-checkmarks">
                                                <li>Review of layout</li>
                                                <li>Review of Electrical design and drawings</li>
                                                <li>Review of civil and structural design/drawings</li>
                                                <li>Review of infrastructure design and drawings</li>
                                        </ul>
                                </div>
                        </div>            
                        <div class="card-footer text-center">
                                <a href="mailto:sales@bgedsconsultant.com?Subject=Design Review Package" target="_blank" class="btn btn-primary">Enquire</a>
                        </div>

                </div>
                <div class="card mb-4" id="terrain-study-survey">
                    <img class="card-img-top img-fluid" src="assets/card/6-terrain.png" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Terrain Study &amp; Survey</h4>
                        <div class="card-text">
                                <ul class="list-display list-checkmarks">
                                        <li>KMZ based contour</li>
                                        <li>Satellite based Contours</li>
                                        <li>Topography contours (Total stations)</li>
                                        <li>Drone survey contours</li>
                                </ul>
                        </div>
                     </div>
                     <div class="card-footer text-center">
                        <a href="mailto:sales@bgedsconsultant.com?Subject=Terrain study and Survey" target="_blank" class="btn btn-primary">Enquire</a>
                    </div>

                </div>
        </div>
        <div class="card-deck">
                <div class="card mb-4" id="wind-engineering">
                        <img class="card-img-top img-fluid" src="assets/card/3-wind-engineering.jpeg" alt="Card image cap">
                        <div class="card-body">
                                <h4 class="card-title">Wind Engineering</h4>
                                <div class="card-text ">
                                        <ul class="list-display list-checkmarks ">
                                                <li>Defining basic and design wind speed per country code</li>
                                                <li>Site directionality study</li>
                                        </ul>
                                </div>
                        </div>
                        <div class="card-footer text-center">
                                <a href="mailto:sales@bgedsconsultant.com?Subject=Wind Engineering" target="_blank" class="btn btn-primary">Enquire</a>
                        </div>
                </div>
                    
                <div class="card mb-4" id="corrosion">
                        <img class="card-img-top img-fluid" src="assets/card/9-soil-investigation.jpg" alt="Card image cap">    

                        <div class="card-body">
                                <h4 class="card-title">Corrosion</h4>
                                <div class="card-text">
                                        <ul class="list-display list-checkmarks">
                                                <li>Atmospheric corrosivity assessment &amp; Recommendation</li>
                                                <li>Soil corrosion assessment and recommendation </li>
                                        </ul>
                                </div>
                        </div>
                        <div class="card-footer text-center">
                                <a href="mailto:sales@bgedsconsultant.com?Subject=Corrosion" target="_blank" class="btn btn-primary">Enquire</a>
                        </div>
                </div>
                <div class="card mb-4" id="pull-test">
                    <img class="card-img-top img-fluid" src="assets/card/10-pull-test.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h4 class="card-title">Pull Test</h4>
                        <div class="card-text">
                                <ul class="list-display list-checkmarks">
                                        <li>Pull test for concrete piles</li>
                                        <li>Pull test for Driven steel piles</li>
                                        <li>Comprehensive pull test report and recommendation</li>
                                </ul>
                        </div>
                    </div>
                    <div class="card-footer text-center">
                        <!--<a href="mailto:sales@bgedsconsultant.com?Subject=Pull Test" target="_blank" class="btn btn-primary">Enquire</a>-->
                        <button class="btn btn-primary" (click)="openModal(modalContent)">Know more</button>

                    </div>

                </div>
        </div>

              
     </div>
</div>
<!--
    <ngb-carousel #carousel interval="1000" [pauseOnHover]="pauseOnHover" (slide)="onSlide($event)">
    <ng-template ngbSlide *ngFor="let img of images; index as i">
        <div class="carousel-caption">
        <h3>My slide {{i + 1}} title</h3>
        </div>
        <a href="https://www.google.fr/?q=Number+{{i+1}}" target="_blank" rel="nofollow noopener noreferrer">
        <div class="picsum-img-wrapper">
            <img [src]="img" alt="My image {{i + 1}} description">
        </div>
        </a>
    </ng-template>
</ngb-carousel>
-->
