<section id="civil-struct-services">
    
    <div class="grey-content-1">
        <div class="container d-flex flex-column">
            <div class="row service-header">
                Civil &amp; Structural Engineering Services
            </div>
            <div class="row service-info">
                BGEDS provides professional Civil and structural engineering services for capital construction projects including new structures, additions, alterations, and repair of industrial structures. We lends holistic and fully integrated industrial design services in green field and brown field projects. We turn in to support our customers in planning, designing via STAAD &amp; ETABS and execution management (on site evaluation by our team). We provide optimized sectional members through repeated iterations run and analyzed for lateral sway &amp; seismic by our expert team. Which in term would reduce the quantity of steel required proving to be economical.
            </div>
            <div class="card-deck services-cards">
                <div class="card mb-4 ">
                    <div class="card ">
                        <div class="card-body civil-struct-card-1 card-util"></div>
                        <div class="card-footer bg-success text-white text-center">TEA PLANT MEZZNINE FLOOR </div>
                    </div>
                </div>
                <div class="card mb-4 ">
                    <div class="card  ">
                        <div class="card-body civil-struct-card-2 card-util"></div>
                        <div class="card-footer bg-success text-white text-center">COFFEE PLANT MEZZANINE FLOOR</div>
                    </div>
                </div>
                <div class="card mb-4 ">
                    <div class="card ">
                        <div class="card-body civil-struct-card-3 card-util"></div>
                        <div class="card-footer bg-success text-white text-center">ETP – DIGESTER TANK 2D DRAWING </div>
                    </div>
                </div>
            </div>
            <div class="card-deck services-cards">
               
                <div class="card mb-4 ">
                    <div class="card  ">
                        <div class="card-body civil-struct-card-4 card-util"></div>
                        <div class="card-footer bg-success text-white text-center">ETP – CLARIFIER TANK RENDERING VIEW </div>
                    </div>
                </div>
                <div class="card mb-4 ">
                    <div class="card ">
                        <div class="card-body civil-struct-card-5 card-util"></div>
                        <div class="card-footer bg-success text-white text-center">ETP – DIGESTER TANK SITE PHOTO</div>
                    </div>
                </div>
                <div class="card mb-4 ">
                    <div class="card  ">
                        <div class="card-body civil-struct-card-6 card-util"></div>
                        <div class="card-footer bg-success text-white text-center">ETP– STAIRCASE &amp; PLATFORM 3D VIEW</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>