<section id="whoweare">
<div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <h3>Why Soil Investigation?</h3>
            <div class="desc">
                    Soil investigation is the important and mandatory activity. It should be the first task for any major projects. This particular engineering activity provides the detailed information about the subsoil properties that to decide on the foundation type sometimes the suitability of the project. Intensity of investigation ranges from a general recommendation (without any field test) for residential building single storied to detailed investigation for the small to mega project. The early involvement of geotechnical engineers is essential to reduce Technical and Financial risks for any civil construction. Ultimately soil investigation is a primary requirement of any project.
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <h3>Why Choose Us?</h3>
            <div class="desc">
                    We understand and getting feedback often from the end user or promotor of project that, always there is misunderstanding from the report by the structural consultant or inadequate information from the investigation. Bala geotechniques understood the gap and established to provide a complete and competitive report and recommendation that fit exactly for the nature of project and cost considering the soil condition. Moreover Bala geotechniques would extend the support to structural consultant as an when required and became part of design team through the engineering phase.
            </div>
       </div>
    </div>
</div>
</section>