<section id="field-testing">

    <div class="grey-content-1">
        <div class="container d-flex flex-column">
            <div class="row service-header">
                Field Testing Services Overview
            </div>
            <div class="row service-info">
                As BGEDS provides end to end solution it also makes us sensitive to consider all the due diligence related activity as support to the customer. Hence the BGEDS adopt the location-based teams to engage the Topo Survey, Geotech Investigation and Pull Test services.
            </div>


            <div class="card-deck services-cards">
                <div class="card mb-4 ">
                    <div class="card-body field-testing-card-1 card-util"></div>
                    <div class="card-footer bg-transparent text-center">Compression Test</div>
                </div>

                <div class="card mb-4 ">
                    <div class="card-body field-testing-card-2 card-util"></div>
                    <div class="card-footer bg-transparent text-center">Lateral Test</div>
                </div>
                <div class="card mb-4 ">
                        <div class="card-body field-testing-card-3 card-util"></div>
                        <div class="card-footer bg-transparent text-center">Uplift Test</div>
                </div>

            </div>

        </div>
    </div>

</section>