<section id="services-overview">
    <div class="grey-content">
        <div class="content-header">
            <div class="container d-flex flex-column ">
                <h2 class="align-items-center">
                    OUR SERVICES
                </h2>
                <div class="container ">
                    <div class="card-deck services-cards">
                        <div class="card mb-4 solar-card" routerLink="/solar-engineering">
                            <a routerLink="/solar-engineering">

                                <div class="text-card">
                                    SOLAR ENGINEERING
                                </div>
                            </a>
                        </div>

                        <div class="card mb-4 infrastructure-card" routerLink="/industrial-engineering">
                            <a routerLink="/industrial-engineering">
                                <div class="text-card">
                                    INDUSTRIAL ENGINEERING
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="white-content">
        <div class="content-header">
            <div class="container d-flex flex-column ">
                <h2 class="align-items-center">
                    COMPANY OVERVIEW
                </h2>
                <div class="row service-info">
                    BGEDS is a Solar &amp; Industrial engineering consultancy operating in India, since 2010. The company formed
                    with experts from renewable &amp; engineering industries to provide services from site feasibility to
                    construction engineering and from rooftop to large scale utility projects. BGEDS customizes the design
                    &amp; drawings for every project to meet the customer requirements. Company build with strong core values
                    and cultures. We deliver design and engineering for both Solar and Industrial engineering.
                </div>
                <div class="card-deck service-cards">
                    <div class="card mb-4 ">
                        <div class="card-body">
                            <h4 class="card-title">Solar Engineering</h4>
                            <p class="card-text services-cards-info">
                                    PEB warehouses, high rising steel framed structures, pipe rack and conveyor structures, tank farm structures, ETP &amp; STP
                                    structures. We also carry out the master plan development for the industrial parks and infrastructure
                                    development.
                            </p>                            
                        </div>
                    </div>

                    <div class="card mb-4">
                            <div class="card-body">
                                    <h4 class="card-title">Industrial Engineering</h4>
                                    <p class="card-text services-cards-info">
                                            PV plants in Civil, Structural, Mechanical, Electrical and Infrastructure need from concept to commissioning. We also support
                        kW of Rooftop to MW capacity of ground-mount projects.
                                    </p>                            
                                </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="white-content">
            <div class="content-header">
                <div class="container d-flex flex-column ">
                    <h2 class="align-items-center">
                        OUR MISSION
                    </h2>
                    <img src="assets/home/mission_pillars.png" class="pillar" />
                </div>
            </div>
            </div>
</section>