<section id="services-overview">
    <div class="grey-content">
        <div class="content-header">
            <div class="container d-flex flex-column ">
                <h2 class="align-items-center">
                    OUR SERVICES
                </h2>
                <div class="container ">
                    <div class="card-deck services-cards">
                        <div class="card mb-4 solar-card">
                            <a routerLink="/solar-engineering">

                                <div class="text-card">
                                    SOLAR ENGINEERING
                                </div>
                            </a>
                        </div>

                        <div class="card mb-4 infrastructure-card">
                            <a routerLink="/infrastructural-engineering">
                                <div class="text-card">
                                    INDUSTRIAL ENGINEERING
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="white-content">
        <div class="content-header">
            <div class="container d-flex flex-column ">
                <h2 class="align-items-center">
                    COMPANY OVERVIEW
                </h2>
                <div class="row service-info">
                        BGEDS is a reputed solar &amp; infrastructure engineering consultancy operating in India, since 2010. The company formed with experts from renewable &amp; engineering industries to provide services from site feasibility to construction engineering and from rooftop to large scale utility projects. BGEDS customizes the design &amp; drawings for every project to meet the customer requirements. We deliver design and engineering for PEB Warehouses, high rising steel framed structures, pipe rack and conveyor structures, tank farm structures, ETP &amp; STP structures, PV plants in Civil, Structural, Mechanical, Electrical and Infrastructure need from concept to commissioning. We are carrying out the master plan development for the industrial parks and infrastructure development. We are also committed to supporting, kW capacity of Rooftop to MW capacity of ground-mount projects. Company Build with strong core values and cultures.
                </div>
            </div>
            <div>
                <img src="assets/home/pillars.png" class="pillar"/>
            </div>
        </div>
    </div>
</section>