@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');section {
    padding: 25px 0;
}

section .section-title {
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
}
#services-overview {
    background-image: radial-gradient( circle 976px at 51.2% 51%,  rgba(11,27,103,1) 0%, rgba(16,66,157,1) 0%, rgba(11,27,103,1) 17.3%, rgba(11,27,103,1) 58.8%, rgba(11,27,103,1) 71.4%, rgba(16,66,157,1) 100.2%, rgba(187,187,187,1) 100.2% );
    background: #efefef
}

#services-overview h2{
    text-align: center;
    
}

.services-cards{
    margin-top: 30px;
}

.solar-card {
    background-image:
        linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), 
        url('../../../assets/card/solar-engineering.jpg');
    background-size: cover;
    height: 250px;
}

.solar-card:hover{
    transform: scale(1.05);
}

.infrastructure-card:hover{
    transform: scale(1.05);
}

.infrastructure-card {
    background-image:
        linear-gradient( rgba(0,0,0,.5), rgba(0,0,0,.5) ), 
        url('../../../assets/card/infrastructure-engineering.jpg');
    background-size: cover;
    height: 250px;
}

.text-card{
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    color: antiquewhite;
    margin-top:110px;
}

@media (max-width:767px){
	#services-overview h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
    }

    .services-cards{
        margin-top: 15px;
    }
    .solar-card {
        height: 200px;
    }
    .infrastructure-card {
        height: 200px;
    }
    
}

