<section id="corrosion-study">

    <div class="grey-content-1">
        <div class="container d-flex flex-column">
            <div class="row service-header">
                Atmospheric Corrosion Assessment – Desk Study
            </div>
            <div class="row service-info">
                    Atmospheric corrosion of the steel elements is studied based on governing chemical properties in the air and temperature in line with ISO guidelines. BGEDS perform desk study or site-specific study based on the source data availability. Recommendation on protection derived based on loss rate and design life.
            </div>
            <div class="card-deck services-cards">
                <div class="card ">
                    <div class="card-body corrosion-study-card-1 card-util"></div>
                </div>

                <div class="card  ">
                    <div class="card-body corrosion-study-card-2 card-util"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="white-content">
            <div class="container d-flex flex-column">
                <div class="row service-header">
                    Soil Corrosion Analysis
                </div>
                <div class="row service-info">
                        Soil corrosion drives to design failure of foundation if it was not looked at true sense. BGEDS has vast experience in design-driven piles in toxic soil in USA and Australia. The process of soil corrosion well covers the region based solution say Raman off /FHWA for US and AS 2041.1 & AS 2159 for Australia. 
                </div>
                <div class="card-deck services-cards">
                    <div class="card ">
                        <div class="card-body corrosion-study-card-3 card-util"></div>
                    </div>
    
                    <div class="card  ">
                        <div class="card-body corrosion-study-card-4 card-util"></div>
                    </div>
                </div>
            </div>
        </div>
</section>