<section id="grading-analysis">
    <div class="sub-header">
        <div class="container d-flex flex-column">
            <div class="row">
                <div class="titleFont">
                    Grading Analysis
                </div>
            </div>
            <div class="row">
                <hr/>
            </div>
            <div class="row sub-text">
                Assisting through complete infrastructure planning and designing for project setup
            </div>
        </div>
    </div>
    <div class="grey-content">
        <div class="container d-flex flex-column">
            <div class="row service-header">
                BGEDS Grading Analysis Overview
            </div>
            <div class="row service-info">
                The world is not flat and designing the post/foundation for the worst-case elevation or soil strength may not support green
                energy. Our master’s in civil design zoom and cut through the topo, evaluate the elevation profile and model
                the grade in AutoCAD Civil 3D. Based on the racking requirements and ground undulations, the site divided
                and ranked for optimized design.
            </div>

        </div>
    </div>
    <div class="white-content">
        <div class="container d-flex flex-column">
            <div class="row service-header">
                BGEDS Grading Analysis Procedure
            </div>
            <img src="../../../../assets/services/solar-engineering/grading-analysis/grading-analysis-flow.png" class="flow-class">
        </div>
    </div>
    <div class="grey-content">
        <div class="container d-flex flex-column">
            <div class="row service-header">
                BGEDS Grading Analysis Images
            </div>
            <div class="card-deck services-cards">
                <div class="card mb-4 grading-analysis-card-1 card-util">
                </div>

                <div class="card mb-4 grading-analysis-card-2 card-util">
                </div>

                <div class="card mb-4 grading-analysis-card-3 card-util">
                </div>

            </div>
            <div class="card-deck services-cards">
                    <div class="card mb-4 grading-analysis-card-4 card-util">
                    </div>
    
                    <div class="card mb-4 grading-analysis-card-5 card-util">
                    </div>
            </div>
            <div class="card-deck services-cards">
                    <div class="card mb-4 grading-analysis-card-6 card-util">
                    </div>
    
                    <div class="card mb-4 grading-analysis-card-7 card-util">
                    </div>
    
                </div>
        </div>
    </div>
</section>